body{
  color: #fff; 
}
.wrapper{
  background-image: url('../images/bgvis.svg');
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  
  text-decoration: none;
  font-family: Roboto, sans-serif;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  
  text-decoration: none;
  font-family: Roboto, sans-serif;
}

.header{
  margin: 0 auto;
  height: 109px;  
  padding-top: 34px;
  padding-left: 0;
  display: flex;
  align-items: center;    
}
.logo{
  margin-right: 30px;
}

.menu{
  padding-bottom: 0;
}

.menu ul{
  display: flex;
  list-style-type: none;
  margin-top: 58px;
  
}

.menu li + li{
  margin-left: 30px;
  margin-bottom: 0;
}

.menu a{
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
  font-family: Roboto, sans-serif;
}
.slider{
  max-width: 1200px;
  margin-top: 250px;
  
}
.item{
  text-align: left;
  color: #fff;
  font-family: Roboto;
  
  display: inline-flex;
  justify-content: center;
  align-items: center;

}
.title{
  font-family: Roboto , Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 90px;
  position: auto;
  }

.text{
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 30px;
  width: 450px;
  margin-top: 40px;
  margin-bottom: 60px;
}

.slick-dots{
  list-style: none;
  display: flex;
  justify-content: left;
}
.slick-dots li + li{
  margin-left: 18px;
}

.slick-dots button{
  font-size: 0;
  bottom: none;
  padding: 0;
  width: 25px;
  height: 25px;
  background: #0D0C0C;
  border: px solid #0D0C0C;
  border-radius: 50%;
}